/* ==================================== */
/*          MAIN CSS FILE               */
/* ==================================== */





/* ==================================== */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: black;
}

a {
    text-decoration: none;
}
/* ==================================== */


@keyframes scrollShowUp {
    0% {
        width: 0px;
    }

    100% {
        width: 12px;
    }
}


/* ==================================== */
::-webkit-scrollbar {
    width: 8px;
    background-color: lightgrey;
    animation: scrollShowUp 1s 1s infinite;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
}

::-webkit-scrollbar-button {
    display: none;
}
/* ==================================== */





/* ==================================== */
.content {
    width: 60%; height: 300px;
    background-color: white;
    color: black;
    margin: 150px auto;
    box-shadow: 3px 3px black, -2px -2px black;
}

.content-header {
    background-color: black;
    text-align: center;
    width: 500px;
    transform: translate(-40px, -40px);
    box-shadow: 5px 5px 10px black;
    font-size: 40px;
    color: white;
}

.content-header-right {
    text-align: center;
    width: 500px;
    transform: translate(calc(165%), -40px);
    box-shadow: 3px 3px black, -2px -2px black;
    font-size: 40px;
    background-color: white;
    color: black;
}

.content-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 90%; height: auto;
    margin: auto;
    display: block;
    font-size: 18px;
}
/* ==================================== */
